.App {
  text-align: center;
  background-color: #656668;
  height: 100vh;
}
.components{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: black;
}
.childelements{
  color: white;
  height: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: large;
  cursor: pointer;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 5px 0;
  text-decoration: none;
}
.subcomponents{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.childcomponents{
  display: flex;
  flex-direction: column;
  
}